* {
    box-sizing: border-box;
}

@media only screen and (max-device-width: 480px) {
    .header-link {
        color: white;
    }

    .header-link:hover {
        color: white;
        text-decoration: underline !important;
    }

    .content-container {
        height: fit-content;
        padding-bottom: 10%;
    }

    .date-header {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .match-info {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 65%;
        margin-left: 10%;
    }

    .month-container {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        top: 20px;
        height: 100%;
    }

    .month-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .results-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .schedule-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .player-img {
        width: 25px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .home-team-img {
        margin-left: 5px;
        margin-right: 5px;
        width: 25px;
    }

    .away-team-img {
        margin-right: 5px;
        margin-left: 5px;
        width: 25px;
    }

    .player-team-img {
        filter: drop-shadow(0px 0px 5px gray);
    }

    .results-container .home-team {
        position: absolute;
        right: 58%;
    }
    
    .results-container .away-team {
        position: absolute;
        left: 58%;
    }

    .schedule-container .home-team {
        position: absolute;
        right: 56%;
    }
    
    .schedule-container .away-team {
        position: absolute;
        left: 56%;
    }

    .match-competition {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    .home-team-name {
        display: none;
    }

    .away-team-name {
        display: none;
    }

    .hide-link-container {
        display: none !important;
    }

    .show-link-container {
        display: inline-block !important;
    }

    .minutes {
        font-size: 10px;
        margin-right: 1%;
        background-color: #14a3b8;
        border-radius: 5px;
        padding: 3px;
        color: white;
    }

    .match-vs {
        display: inline-block;
    }
    
    .match-score {
        display: inline-block;
    }

    .match-time {
        font-size: 8.5px !important;
    }

    .match-live {
        font-size: 8.5px !important;
    }

    .list-group-item {
        padding: 0.75rem 0rem !important;
    }

    .goals {
        margin-right: 3px;
        font-size: 10px;
        position: relative;
    }
    
    .assists {
        font-size: 15px;
        position: relative;
    }

    .bench {
        font-size: 20px;
    }
    
    .not-in-squad {
        font-size: 20px;
    }

    .emoji-key {
        display: none;
    }

    .minutes-key {
        display: none;
    }

    .donate-button {
        -webkit-appearance: none;
        -moz-appearance: button;
        appearance: button;
        padding: 5px;
        background-color: rgb(53, 58, 63);
        font-size: 14px;
        color: white;
        border: 1px solid gray;
        border-radius: 5px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .donate-button:hover {
        color: white;
    }

    .player-stats-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .stat-header {
        font-weight: bold;
    }

    .stat-data {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        
    } 

    .player-bio-header-container {
        margin-top: 1%;
        text-align: center;
    }

    .player-bio-img {
        float: left;
    }

    .player-bio-name {
        width: -moz-fit-content;
        width: fit-content;
        font-weight: bold;
        font-size: 25px;
    }

    .player-bio-team-container {
        float: right;
    }

    .player-bio-team-img {
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .player-bio-team-name {
        display: none !important;
    }

    .results-table {
        margin-top: 2.5%;
        margin-bottom: 2.5% !important;
    }

    .table thead th, td {
        text-align: center;
    }

    .table td, .table th {
        padding: 0.6rem !important;
        vertical-align: middle !important;
    }

    .no-games {
        color: #333b3f;
        margin-left: auto;
        width: -moz-fit-content;
        width: fit-content;
        display: block;
        margin-right: auto;
        margin-top: 20%;
    }

    .loading {
        position: absolute;
        bottom: 50%;
        right: 48%;
    }

    .match-videos {
        position: absolute;
        top: 5px;
        right: 7px;
        background: transparent !important;
        border: none !important;
        padding: 0 !important;
    }

    .match-videos-container {
        border-radius: .4em;
        border: 1px solid rgb(53, 58, 63);;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .match-videos-form {
        position: relative;
        background: transparent;
        padding: 8px;
    }

    .match-videos-form-title {
        margin-bottom: 1%;;
    }

    .match-videos-form-text {
        font-size: 12px !important;
    }

    .match-video-links-list {
        padding: 8px;
    }

    .match-video-link-container {
        text-align: center;
    }

    .match-video-link {
        color: #14a3b8;
    }

    .players-table {
        margin-bottom: 8% !important;
    }

    .players-table-img {
        width: 25%;
    }

    .players-table-name {
        display: none;
    }
}

@media only screen and (min-device-width: 481px) {
    .header-link {
        color: white;
    }

    .header-link:hover {
        color: white;
        text-decoration: underline !important;
    }
    
    .content-container {
        overflow: scroll;
        height: 85vh;
        padding-bottom: 2%;
    }
    
    .month-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        position: sticky;
        top: 20px;
        height: 100%;
    }
    
    .results-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .month-nav {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        border: 1px solid gray;
        border-radius: 25px;
        width: 25%;
        background-color: rgb(248, 249, 250)
    }
    
    .month-title {
        height: fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
    
    .date-header {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .schedule-container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .matches-container {
        margin-top: 15px;
    }
    
    .match-competition {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }
    
    .player-img {
        height: 5%;
        width: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .home-team-img {
        margin-left: 5px;
        margin-right: 5px;
        width: 25px;
    }
    
    .schedule-container .home-team {
        position: absolute;
        right: 52%;
    }
    
    .schedule-container .away-team {
        position: absolute;
        left: 52%;
    }
    
    .away-team-img {
        margin-right: 5px;
        margin-left: 5px;
        width: 25px;
    }
    
    .match-info {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 70%;
        margin-left: 10%;
    }
    
    .match-time {
        width: 10%;
        vertical-align: text-bottom;
    }
    
    .match-live {
        width: 10%;
        vertical-align: text-bottom;
    }

    .match-vs{
        display: inline-block;
    }
    
    .match-score {
        display: inline-block;
    }
    
    .results-container .home-team {
        position: absolute;
        right: 54%;
    }
    
    .results-container .away-team {
        position: absolute;
        left: 54%;
    }
    
    .goals {
        margin-right: 5px;
        font-size: 20px;
        position: relative;
        top: 3px;
    }
    
    .assists {
        font-size: 25px;
        position: relative;
        top: 3px;
    }
    
    .minutes {
        font-size: 15px;
        margin-right: 2%;
        background-color: #14a3b8;
        border-radius: 5px;
        padding: 5px;
        color: white;
    }
    
    .bench {
        font-size: 30px;
    }
    
    .not-in-squad {
        font-size: 25px;
    }
    
    .badge-pill {
        width: -moz-fit-content;
        width: fit-content;
    }
    
    .match-info-container {
        position: relative;
    }

    .emoji-key {
        position: absolute;
        top: 50%;
        right: 10%;
        border: 1px solid gray;
        width: -moz-fit-content;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .minutes-key {
        background-color: #14a3b8;
        border-radius: 5px;
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .donate-button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        padding: 5px;
        background-color: rgb(53, 58, 63);
        color: white;
        border: 1px solid gray;
        border-radius: 5px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .donate-button:hover {
        color: white;
    }

    .player-stats-container {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .stat-header {
        font-weight: bold;
    }

    .stat-data {
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        
    }

    .player-bio-header-container {
        margin-top: 1%;
        display: flex;
    }

    .player-bio-name {
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        font-weight: bold;
        font-size: 25px;
    }

    .player-bio-team-container {
        float: right;
        display: flex;
        flex-direction: column-reverse;
    }

    .player-bio-team-img {
        width: 5vw;
        height: 5vw;
        margin-left: auto;
        margin-right: auto;
    }

    .player-bio-team-name {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .results-table {
        margin-top: 2.5%;
        margin-bottom: 2.5% !important;
    }

    .table thead th, td {
        text-align: center;
    }

    .table td, .table th {
        vertical-align: middle !important;
    }

    .no-games {
        color: #333b3f;
        margin-left: auto;
        width: -moz-fit-content;
        width: fit-content;
        display: block;
        margin-right: auto;
        margin-top: 20%;
    }

    .loading {
        position: absolute;
        bottom: 50%;
        right: 50%;
    }

    .match-videos {
        position: absolute;
        top: 5px;
        right: 7px;
        background: transparent !important;
        border: none !important;
        padding: 0 !important;
    }

    .match-videos-container {
        border-radius: .4em;
        border: 1px solid rgb(53, 58, 63);
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5%;
    }

    .match-videos-form {
        position: relative;
        background: transparent;
        padding: 8px;
    }

    .match-videos-form-title {
        margin-bottom: 1%;;
    }

    .match-videos-form-text {
        font-size: 12px !important;
    }

    .match-video-links-list {
        padding: 8px;
    }

    .match-video-link-container {
        text-align: center;
    }

    .match-video-link {
        color: #14a3b8;
    }

    .team-tooltip-mobile {
        display: none !important;
    }

    .players-table {
        margin-bottom: 8% !important;
    }

    .players-table-img {
        width: 2.5%;
        float: left;
    }

    .players-table-name {
        color: black;
        display: block;
        margin: auto;
        width: fit-content;
    }
}