* {
    box-sizing: border-box;
}

.date-header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.schedule-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.matches-container {
    margin-top: 15px;
}

.match-competition {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.match-container {
    display: flex;
}

.player-img {
    height: 5%;
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.home-team-img {
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
}

.home-team {
    position: absolute;
    right: 52%;
}

.away-team {
    position: absolute;
    left: 52%;
}

.away-team-img {
    margin-right: 5px;
    margin-left: 5px;
    width: 25px;
}

.home-team-name {
    vertical-align: center;
}

.away-team-name {
}

.match-info {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-left: 5%;
}


.match-time {
    width: 10%;
}

.match-vs {
    display: inline-block;
}