* {
    box-sizing: border-box;
}

.date-header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.schedule-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.matches-container {
    margin-top: 15px;
}

.match-competition {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.player-img {
    height: 5%;
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.home-team-img {
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
}

.home-team {
    position: absolute;
    right: 52%;
}

.away-team {
    position: absolute;
    left: 52%;
}

.away-team-img {
    margin-right: 5px;
    margin-left: 5px;
    width: 25px;
}

.match-info {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 79%;
    margin-left: 5%;
}


.match-time {
    width: 11%;
    vertical-align: text-bottom;
}

.match-vs {
    display: inline-block;
}